body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #636e72;
}

#container {
    width: 550px;
    height: 687px;
    background-color: rgba(31, 41, 55, 1);
    border: 3px solid #fff;
    border-radius: 20px;
}

#main {
    width: 100%;
    height: 255px;
    background-color: #6943FF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}

#heading {
    width: 448.4px;
    height: 38px;
    font-size: 28px;
    font-weight: bold;
    line-height: 38px;
    text-transform: capitalize;
    margin: 0px 0px 20px;
    text-align: center;
}

#input-box {
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: transparent;
    font-size: 58px;
    font-weight: bold;
    color: white;
    text-align: center;
    outline: none;
}

#input-box::-webkit-inner-spin-button,
#input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#convert-btn {
    width: 117px;
    height: 42px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

#convert-btn:hover {
    box-shadow: 0px 0px 10px #251f36;
}

#groups {
    width: 100%;
    height: 432px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.innerGroups {
    width: 500px;
    height: 108.57px;
    background-color: #273549;
    border-radius: 3px;
    text-align: center;
    padding: 7px 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px #636e72;
}

.unit-type {
    color: rgba(204, 193, 255, 1);
    font-size: 20px;
    font-weight: 600;
}

.output-el {
    font-size: 14px;
    font-weight: 500;
    color: white;
}